# Title
Created by Sadik Aman, Dawn Bowerman, Zachary Harris, Alexandre Jasserme  


QUESTION; what is the official rubric

## Business Understanding

This dataset is from the Johns Hopkins University dashboard which is maintained by the Center for Systems Science and Engineering.  The data has been accumulated since January 22, 2020 on confirmed Covid-19 cases and deaths for all countries. 


Why is dataset important. Covid-19, first identified in December of 2019, has grown to become a pandemic affecting millions of people to the

QUESTION: Mined useful data - How do we define "useful data"?

QUESTION: Define and measure the outcomes? -- MSE, Root MSE, Mean Absolute Error (10-fold cross validation, 5 fold, etc)

Note: To put it in short, if there are many outliers then you may consider using Mean Absolute Error (also called the Average Absolute Deviation). RMSE is more sensitive to outliers than the MAE. But when outliers are exponentially rare (like in a bell-shaped curve), the RMSE performs very well and is generally preferred.



## Data Understanding

### Data Meaning Type

QUESTION; Do you have to identify all attributes of the original data set, or simply say this is the manipulated dataset used for this specific analysis?


The original dataset chosen for this study contains information various types of information for pandemic caused by Covid - 19 from 2019 to 2021. The dataset contains 11914 observations and sixteen variables. More information can be found in Table 1 below.

| Variable | Variable Name | Data Type | Description |
|----------|---------------|-----------|-------------|
|          |               |           |             |
|          |               |           |             |
|          |               |           |             |

In [1]:
# Draft

## Predictions
# new_deaths
# new_deaths_smoothed
# new_cases
# weekly_hosp_admissions

In [2]:
#Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3

In [3]:
#Import covid dataset from CSV File

covid_data = pd.read_csv('data/owid-covid-data.csv')

In [4]:
#0 iso_code 
#4 total_cases 
#7 total_deaths 
#10 total_cases_per_million
#11 new_cases_per_million 
#12 new_cases_smoothed_per_million 
#13 total_deaths_per_million
#14 total_death_per_million
#15 new_deaths_smoothed_per_million
#17  icu_patients
#18 icu_patients_per_million  
#19  hosp_patients 
#20 hosp_patients_per_million
#21  weekly_icu_admissions
#22  weekly_icu_admissions_per_million
#23  weekly_hosp_admissions
#24  weekly_hosp_admissions_per_million
#26 total_tests
#27 total_tests_per_thousand 
#28  new_tests_per_thousand 
#30  new_tests_smoothed_per_thousand
#33  tests_units 
#34 total_vaccinations
#35 people_vaccinated
#37 total_boosters
#40 total_vaccinations_per_hundred 
#41 people_vaccinated_per_hundred
#42  people_fully_vaccinated_per_hundred         
#43  total_boosters_per_hundred                 
#44  new_vaccinations_smoothed_per_million 
#46 new_people_vaccinated_smoothed_per_hundred
#63  excess_mortality_cumulative_absolute  
#64  excess_mortality_cumulative
#65  excess_mortality 
#66 excess_mortality_cumulative_per_million

In [5]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154105 entries, 0 to 154104
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    154105 non-null  object
 1   continent                                   144825 non-null  object
 2   location                                    154105 non-null  object
 3   date                                        154105 non-null  object
 4   total_cases                                 151434 non-null  float64
 5   new_cases                                   151379 non-null  float64
 6   new_cases_smoothed                          150228 non-null  float64
 7   total_deaths                                134139 non-null  float64
 8   new_deaths                                  134314 non-null  float64
 9   new_deaths_smoothed                         134182 non-null  float64
 10  total_cases_per_million                     150728 non-null  float64
 11  new_cases_per_million                       150673 non-null  float64
 12  new_cases_smoothed_per_million              149527 non-null  float64
 13  total_deaths_per_million                    133446 non-null  float64
 14  new_deaths_per_million                      133621 non-null  float64
 15  new_deaths_smoothed_per_million             133489 non-null  float64
 16  reproduction_rate                           116265 non-null  float64
 17  icu_patients                                20354 non-null   float64
 18  icu_patients_per_million                    20354 non-null   float64
 19  hosp_patients                               21529 non-null   float64
 20  hosp_patients_per_million                   21529 non-null   float64
 21  weekly_icu_admissions                       4277 non-null    float64
 22  weekly_icu_admissions_per_million           4277 non-null    float64
 23  weekly_hosp_admissions                      8669 non-null    float64
 24  weekly_hosp_admissions_per_million          8669 non-null    float64
 25  new_tests                                   61016 non-null   float64
 26  total_tests                                 62651 non-null   float64
 27  total_tests_per_thousand                    62651 non-null   float64
 28  new_tests_per_thousand                      61016 non-null   float64
 29  new_tests_smoothed                          74332 non-null   float64
 30  new_tests_smoothed_per_thousand             73626 non-null   float64
 31  positive_rate                               69422 non-null   float64
 32  tests_per_case                              68765 non-null   float64
 33  tests_units                                 75827 non-null   object
 34  total_vaccinations                          39909 non-null   float64
 35  people_vaccinated                           38187 non-null   float64
 36  people_fully_vaccinated                     35353 non-null   float64
 37  total_boosters                              12943 non-null   float64
 38  new_vaccinations                            33034 non-null   float64
 39  new_vaccinations_smoothed                   72914 non-null   float64
 40  total_vaccinations_per_hundred              39909 non-null   float64
 41  people_vaccinated_per_hundred               38187 non-null   float64
 42  people_fully_vaccinated_per_hundred         35353 non-null   float64
 43  total_boosters_per_hundred                  12943 non-null   float64
 44  new_vaccinations_smoothed_per_million       72914 non-null   float64
 45  new_people_vaccinated_smoothed              71946 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  71946 non-null   float64
 47  stringency_index                            120783 non-null  float64
 48  population                                  153082 non-null  float64
 49  population_density                          137166 non-null  float64
 50  median_age                                  127986 non-null  float64
 51  aged_65_older                               126596 non-null  float64
 52  aged_70_older                               127299 non-null  float64
 53  gdp_per_capita                              128418 non-null  float64
 54  extreme_poverty                             84750 non-null   float64
 55  cardiovasc_death_rate                       126985 non-null  float64
 56  diabetes_prevalence                         133496 non-null  float64
 57  female_smokers                              98353 non-null   float64
 58  male_smokers                                96937 non-null   float64
 59  handwashing_facilities                      63602 non-null   float64
 60  hospital_beds_per_thousand                  114719 non-null  float64
 61  life_expectancy                             143820 non-null  float64
 62  human_development_index                     126460 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 78.8+ MB

In [6]:
covid_data_alt = covid_data.drop(covid_data.columns[[0,4,7,10,11,12,13,14,15,17,18,19,20,21,22,23,24,26,27,28,30,
                                                     33,34,35,37,40,41,42,43,44,46,63,64,65,66]], axis=1)

In [7]:
covid_data_alt['continent'].replace('', np.nan, inplace=True)
covid_data_alt.dropna(subset=['continent'], inplace=True)
covid_data_alt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144825 entries, 0 to 154104
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   continent                       144825 non-null  object
 1   location                        144825 non-null  object
 2   date                            144825 non-null  object
 3   new_cases                       142099 non-null  float64
 4   new_cases_smoothed              141025 non-null  float64
 5   new_deaths                      125047 non-null  float64
 6   new_deaths_smoothed             124987 non-null  float64
 7   reproduction_rate               115546 non-null  float64
 8   new_tests                       61016 non-null   float64
 9   new_tests_smoothed              73626 non-null   float64
 10  positive_rate                   69422 non-null   float64
 11  tests_per_case                  68765 non-null   float64
 12  people_fully_vaccinated         30965 non-null   float64
 13  new_vaccinations                28514 non-null   float64
 14  new_vaccinations_smoothed       68313 non-null   float64
 15  new_people_vaccinated_smoothed  67345 non-null   float64
 16  stringency_index                120783 non-null  float64
 17  population                      144508 non-null  float64
 18  population_density              136444 non-null  float64
 19  median_age                      127264 non-null  float64
 20  aged_65_older                   125874 non-null  float64
 21  aged_70_older                   126577 non-null  float64
 22  gdp_per_capita                  127696 non-null  float64
 23  extreme_poverty                 84028 non-null   float64
 24  cardiovasc_death_rate           126263 non-null  float64
 25  diabetes_prevalence             132774 non-null  float64
 26  female_smokers                  97631 non-null   float64
 27  male_smokers                    96215 non-null   float64
 28  handwashing_facilities          62880 non-null   float64
 29  hospital_beds_per_thousand      113997 non-null  float64
 30  life_expectancy                 143098 non-null  float64
 31  human_development_index         125738 non-null  float64
dtypes: float64(29), object(3)
memory usage: 36.5+ MB

In [26]:
print(covid_data_alt.date.min())
print(covid_data_alt.date.max())
covid_data_alt.dropna(subset=['continent'], inplace=True)

2020-01-01
2022-01-12

In [27]:
# Remove Dates in the year 2020
covid_data_alt[covid_data_alt.date > '2020-12-31']

,continent,location,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,reproduction_rate,new_tests,new_tests_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
312,Asia,Afghanistan,2021-01-01,183.0,131.143,12.0,9.429,0.86,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
313,Asia,Afghanistan,2021-01-02,73.0,117.429,10.0,9.000,0.86,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
314,Asia,Afghanistan,2021-01-03,123.0,123.000,10.0,9.000,0.85,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
315,Asia,Afghanistan,2021-01-04,200.0,128.857,9.0,8.571,0.85,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
316,Asia,Afghanistan,2021-01-05,102.0,123.429,7.0,7.857,0.84,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154100,Africa,Zimbabwe,2022-01-08,636.0,1100.571,12.0,18.714,0.75,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
154101,Africa,Zimbabwe,2022-01-09,0.0,1100.571,0.0,18.714,0.76,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
154102,Africa,Zimbabwe,2022-01-10,1082.0,987.571,32.0,19.000,0.77,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
154103,Africa,Zimbabwe,2022-01-11,0.0,760.286,0.0,14.571,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
154104,Africa,Zimbabwe,2022-01-12,1433.0,768.000,35.0,17.571,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [28]:
# Count Non-Null values grouped by continent
covid_data_alt.groupby('continent').count()

,location,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,reproduction_rate,new_tests,new_tests_smoothed,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
continent,,,,,,,,,,,,,,,,,,,,,
Africa,36557,36557,36444,36170,34085,34070,33568,9865,12883,12508,...,35396,27400,36064,36064,24072,24072,29378,26770,36557,35396
Asia,33677,33677,33138,32898,29382,29366,29361,16875,20140,18810,...,31970,19238,31917,31248,26306,26306,17263,29834,33360,31910
Europe,34443,34443,33660,33415,31485,31475,29712,21174,25459,23849,...,29040,20708,28368,30416,27681,27681,2042,29734,33118,29048
North America,23111,23111,22767,22597,18556,18547,13000,6279,7295,7274,...,17168,7582,16261,19588,8901,8228,8815,15587,23111,15587
Oceania,8131,8131,7322,7242,3581,3581,2115,1286,1917,1870,...,5865,2855,5396,7201,4429,4429,1329,3815,8046,5540
South America,8906,8906,8768,8703,7958,7948,7790,5537,5932,5111,...,8257,6245,8257,8257,6242,5499,4053,8257,8906,8257

In [29]:
# Count Non-null values grouped by location
covid_data_alt.groupby('location').count()

,continent,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,reproduction_rate,new_tests,new_tests_smoothed,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,689,689,689,684,661,661,653,0,0,0,...,689,0,689,689,0,0,689,689,689,689
Albania,688,688,675,670,673,670,658,471,468,457,...,688,688,688,688,688,688,0,688,688,688
Algeria,688,688,688,683,672,672,660,0,0,0,...,688,688,688,688,688,688,688,688,688,688
Andorra,682,682,682,677,662,662,659,0,373,373,...,0,0,682,682,682,682,0,0,682,682
Angola,664,664,664,659,655,655,579,0,0,0,...,664,0,664,664,0,0,664,0,664,664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,721,721,721,716,531,531,659,153,412,412,...,721,721,721,721,721,721,721,721,721,721
Wallis and Futuna,451,451,451,446,298,298,0,0,0,0,...,0,0,0,0,0,0,0,0,451,0
Yemen,643,643,643,638,623,623,605,0,0,0,...,643,643,643,643,643,643,643,643,643,643
Zambia,666,666,666,661,651,651,620,620,656,656,...,666,666,666,666,666,666,666,666,666,666
Zimbabwe,664,664,664,659,661,659,593,605,605,605,...,664,664,664,664,664,664,664,664,664,664

### Data Quality

### Simple Statistics

### Visualize Attributes

### Explore Joint Attributes
QUESTION: Clarify relations question

### Explore Attributes and Class

QUESTION: Classification, continuous variable into level, object.. question mini lab

### New Features

Question: are we going to be required to add new features in future labs if we clarify it in this one


## Exceptional Work