<h1><center>Exploring the Impacts of Covid-19</center></h1>
<p><center>DS 7331</center></p>
<p><center>Created by Sadik Aman, Dawn Bowerman, Zachary Harris, Alexandre Jasserme</center></p>

## Business Understanding - Dawn

This dataset is from the Johns Hopkins University dashboard which is maintained by the Center for Systems Science and Engineering.  The data has been accumulated since January 22, 2020 on confirmed Covid-19 cases and deaths for all countries. 


Why is dataset important. Covid-19, first identified in December of 2019, has grown to become a pandemic affecting millions of people to the

QUESTION: Mined useful data - How do we define "useful data"?

QUESTION: Define and measure the outcomes? -- MSE, Root MSE, Mean Absolute Error (10-fold cross validation, 5 fold, etc)

Note: To put it in short, if there are many outliers then you may consider using Mean Absolute Error (also called the Average Absolute Deviation). RMSE is more sensitive to outliers than the MAE. But when outliers are exponentially rare (like in a bell-shaped curve), the RMSE performs very well and is generally preferred.


## Data Meaning Type - Zachary




The original dataset chosen for this study contains various types of information for the pandemic caused by Covid - 19 from 2019 to 2021. This dataset was constructed by Our World in Data using information from sources such as the United Nations, World Bank, Global Burden of Disease, Blavatnik School of Government, and the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University . The source dataset contains 154105 observations and 67 attributes. As there are attributes in this dataset that are updated daily, the data used in this report was downloaded from the source on January 15, 2022 at 1:00 PM CST. In order to analyze the data for this report, some attributes in the dataset were manipulated or eliminated. Table 1 outlines the final list of attributes used for this report and descriptions for each.

<p><center>Table 1</center></p>

| Variable Name                  | Data Type | Description                                                                                                                                                                                                                                                                                                                                           |
|--------------------------------|-----------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| continent                      | object    | Continent of the geographical location                                                                                                                                                                                                                                                                                                                |
| location                       | object    | Geographical location                                                                                                                                                                                                                                                                                                                                 |
| date                           | object    | Date of observation                                                                                                                                                                                                                                                                                                                                   |
| new_cases                      | numerical | New confirmed cases of COVID-19                                                                                                                                                                                                                                                                                                                       |
| new_cases_smoothed             | numerical | New confirmed cases of COVID-19 (7-day smoothed)                                                                                                                                                                                                                                                                                                      |
| new_deaths                     | numerical | New deaths attributed to COVID-19                                                                                                                                                                                                                                                                                                                     |
| new_deaths_smoothed            | numerical | New deaths attributed to COVID-19 (7-day smoothed)                                                                                                                                                                                                                                                                                                    |
| reproduction_rate              | numerical | Real-time estimate of the effective reproduction rate (R) of COVID-19                                                                                                                                                                                                                                                                                 |
| new_tests                      | numerical | New tests for COVID-19 (only calculated for consecutive days)                                                                                                                                                                                                                                                                                         |
| new_tests_smoothed             | numerical |                                                                                                                                                                                                                                                                                                                                                       |
| positive_rate                  | numerical | The share of COVID-19 tests that are positive,  given as a rolling 7-day average (this is the inverse of tests_per_case)                                                                                                                                                                                                                              |
| tests_per_case                 | numerical | Tests conducted per new confirmed case of COVID-19, given as a rolling 7-day average  (this is the inverse of positive_rate)                                                                                                                                                                                                                          |
| people_fully_vaccinated        | numerical | Total number of people who received all doses prescribed by the vaccination protocol                                                                                                                                                                                                                                                                  |
| new_vaccinations               | numerical | New COVID-19 vaccination doses administered (only calculated for consecutive days)                                                                                                                                                                                                                                                                    |
| new_vaccinations_smoothed      | numerical | New COVID-19 vaccination doses administered (7-day smoothed).  For countries that don't report vaccination data on a daily basis,  we assume that vaccination changed equally on a daily basis over any periods in which  no data was reported. This produces a complete series of daily figures, which is  then averaged over a rolling 7-day window |
| new_people_vaccinated_smoothed | numerical | Daily number of people receiving their first vaccine dose (7-day smoothed)                                                                                                                                                                                                                                                                            |
| stringency_index               | numerical | Government Response Stringency Index: composite measure based on 9 response  indicators including school closures, workplace closures,  and travel bans, rescaled to a value from 0 to 100 (100 = strictest response)                                                                                                                                 |
| population                     | numerical | Population                                                                                                                                                                                                                                                                                                                                            |
| population_density             | numerical | Number of people divided by land area, measured in square kilometers,  most recent year available                                                                                                                                                                                                                                                     |
| median_age                     | numerical | Median age of the population, UN projection for 2020                                                                                                                                                                                                                                                                                                  |
| aged_65_older                  | numerical | Share of the population that is 65 years and older, most recent year available                                                                                                                                                                                                                                                                        |
| aged_70_older                  | numerical | Share of the population that is 70 years and older in 2015                                                                                                                                                                                                                                                                                            |
| gdp_per_capita                 | numerical | Gross domestic product at purchasing power parity  (constant 2011 international dollars),  most recent year available                                                                                                                                                                                                                                 |
| extreme_poverty                | numerical | Share of the population living in extreme poverty,  most recent year available since 2010                                                                                                                                                                                                                                                             |
| cardiovasc_death_rate          | numerical | Death rate from cardiovascular disease in 2017 (annual number of deaths per 100,000 people)                                                                                                                                                                                                                                                           |
| diabetes_prevalence            | numerical | Diabetes prevalence (% of population aged 20 to 79) in 2017                                                                                                                                                                                                                                                                                           |
| female_smokers                 | numerical | Share of women who smoke, most recent year available                                                                                                                                                                                                                                                                                                  |
| male_smokers                   | numerical | Share of men who smoke, most recent year available                                                                                                                                                                                                                                                                                                    |
| handwashing_facilities         | numerical | Share of the population with basic handwashing facilities on premises,  most recent year available                                                                                                                                                                                                                                                    |
| hospital_beds_per_thousand     | numerical | Hospital beds per 1,000 people, most recent year available since 2010                                                                                                                                                                                                                                                                                 |
| life_expectancy                | numerical | Life expectancy at birth in 2019                                                                                                                                                                                                                                                                                                                      |
| human_development_index        | numerical | A composite index measuring average achievement in three basic  dimensions of human development—a long and healthy life,  knowledge and a decent standard of living.                                                                                                                                                                                  |

In [1]:
# Draft

## Predictions

# new_deaths

# new_deaths_smoothed

# new_cases

# weekly_hosp_admissions

In [2]:
#Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3

In [3]:
#Import covid dataset from CSV File

covid_data = pd.read_csv('data/owid-covid-data.csv')

In [4]:
#Eliminated Attributes

#0 iso_code 
#4 total_cases 
#7 total_deaths 
#10 total_cases_per_million
#11 new_cases_per_million 
#12 new_cases_smoothed_per_million 
#13 total_deaths_per_million
#14 total_death_per_million
#15 new_deaths_smoothed_per_million
#17  icu_patients
#18 icu_patients_per_million  
#19  hosp_patients 
#20 hosp_patients_per_million
#21  weekly_icu_admissions
#22  weekly_icu_admissions_per_million
#23  weekly_hosp_admissions
#24  weekly_hosp_admissions_per_million
#26 total_tests
#27 total_tests_per_thousand 
#28  new_tests_per_thousand 
#30  new_tests_smoothed_per_thousand
#33  tests_units 
#34 total_vaccinations
#35 people_vaccinated
#37 total_boosters
#40 total_vaccinations_per_hundred 
#41 people_vaccinated_per_hundred
#42  people_fully_vaccinated_per_hundred         
#43  total_boosters_per_hundred                 
#44  new_vaccinations_smoothed_per_million 
#46 new_people_vaccinated_smoothed_per_hundred
#63  excess_mortality_cumulative_absolute  
#64  excess_mortality_cumulative
#65  excess_mortality 
#66 excess_mortality_cumulative_per_million

In [5]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154105 entries, 0 to 154104
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    154105 non-null  object
 1   continent                                   144825 non-null  object
 2   location                                    154105 non-null  object
 3   date                                        154105 non-null  object
 4   total_cases                                 151434 non-null  float64
 5   new_cases                                   151379 non-null  float64
 6   new_cases_smoothed                          150228 non-null  float64
 7   total_deaths                                134139 non-null  float64
 8   new_deaths                                  134314 non-null  float64
 9   new_deaths_smoothed                         134182 non-null  float64
 10  total_cases_per_million                     150728 non-null  float64
 11  new_cases_per_million                       150673 non-null  float64
 12  new_cases_smoothed_per_million              149527 non-null  float64
 13  total_deaths_per_million                    133446 non-null  float64
 14  new_deaths_per_million                      133621 non-null  float64
 15  new_deaths_smoothed_per_million             133489 non-null  float64
 16  reproduction_rate                           116265 non-null  float64
 17  icu_patients                                20354 non-null   float64
 18  icu_patients_per_million                    20354 non-null   float64
 19  hosp_patients                               21529 non-null   float64
 20  hosp_patients_per_million                   21529 non-null   float64
 21  weekly_icu_admissions                       4277 non-null    float64
 22  weekly_icu_admissions_per_million           4277 non-null    float64
 23  weekly_hosp_admissions                      8669 non-null    float64
 24  weekly_hosp_admissions_per_million          8669 non-null    float64
 25  new_tests                                   61016 non-null   float64
 26  total_tests                                 62651 non-null   float64
 27  total_tests_per_thousand                    62651 non-null   float64
 28  new_tests_per_thousand                      61016 non-null   float64
 29  new_tests_smoothed                          74332 non-null   float64
 30  new_tests_smoothed_per_thousand             73626 non-null   float64
 31  positive_rate                               69422 non-null   float64
 32  tests_per_case                              68765 non-null   float64
 33  tests_units                                 75827 non-null   object
 34  total_vaccinations                          39909 non-null   float64
 35  people_vaccinated                           38187 non-null   float64
 36  people_fully_vaccinated                     35353 non-null   float64
 37  total_boosters                              12943 non-null   float64
 38  new_vaccinations                            33034 non-null   float64
 39  new_vaccinations_smoothed                   72914 non-null   float64
 40  total_vaccinations_per_hundred              39909 non-null   float64
 41  people_vaccinated_per_hundred               38187 non-null   float64
 42  people_fully_vaccinated_per_hundred         35353 non-null   float64
 43  total_boosters_per_hundred                  12943 non-null   float64
 44  new_vaccinations_smoothed_per_million       72914 non-null   float64
 45  new_people_vaccinated_smoothed              71946 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  71946 non-null   float64
 47  stringency_index                            120783 non-null  float64
 48  population                                  153082 non-null  float64
 49  population_density                          137166 non-null  float64
 50  median_age                                  127986 non-null  float64
 51  aged_65_older                               126596 non-null  float64
 52  aged_70_older                               127299 non-null  float64
 53  gdp_per_capita                              128418 non-null  float64
 54  extreme_poverty                             84750 non-null   float64
 55  cardiovasc_death_rate                       126985 non-null  float64
 56  diabetes_prevalence                         133496 non-null  float64
 57  female_smokers                              98353 non-null   float64
 58  male_smokers                                96937 non-null   float64
 59  handwashing_facilities                      63602 non-null   float64
 60  hospital_beds_per_thousand                  114719 non-null  float64
 61  life_expectancy                             143820 non-null  float64
 62  human_development_index                     126460 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 78.8+ MB

In [6]:
covid_data_alt = covid_data.drop(covid_data.columns[[0,4,7,10,11,12,13,14,15,17,18,19,20,21,22,23,24,26,27,28,30,
                                                     33,34,35,37,40,41,42,43,44,46,63,64,65,66]], axis=1)

In [7]:
covid_data_alt['continent'].replace('', np.nan, inplace=True)
covid_data_alt.dropna(subset=['continent'], inplace=True)
covid_data_alt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144825 entries, 0 to 154104
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   continent                       144825 non-null  object
 1   location                        144825 non-null  object
 2   date                            144825 non-null  object
 3   new_cases                       142099 non-null  float64
 4   new_cases_smoothed              141025 non-null  float64
 5   new_deaths                      125047 non-null  float64
 6   new_deaths_smoothed             124987 non-null  float64
 7   reproduction_rate               115546 non-null  float64
 8   new_tests                       61016 non-null   float64
 9   new_tests_smoothed              73626 non-null   float64
 10  positive_rate                   69422 non-null   float64
 11  tests_per_case                  68765 non-null   float64
 12  people_fully_vaccinated         30965 non-null   float64
 13  new_vaccinations                28514 non-null   float64
 14  new_vaccinations_smoothed       68313 non-null   float64
 15  new_people_vaccinated_smoothed  67345 non-null   float64
 16  stringency_index                120783 non-null  float64
 17  population                      144508 non-null  float64
 18  population_density              136444 non-null  float64
 19  median_age                      127264 non-null  float64
 20  aged_65_older                   125874 non-null  float64
 21  aged_70_older                   126577 non-null  float64
 22  gdp_per_capita                  127696 non-null  float64
 23  extreme_poverty                 84028 non-null   float64
 24  cardiovasc_death_rate           126263 non-null  float64
 25  diabetes_prevalence             132774 non-null  float64
 26  female_smokers                  97631 non-null   float64
 27  male_smokers                    96215 non-null   float64
 28  handwashing_facilities          62880 non-null   float64
 29  hospital_beds_per_thousand      113997 non-null  float64
 30  life_expectancy                 143098 non-null  float64
 31  human_development_index         125738 non-null  float64
dtypes: float64(29), object(3)
memory usage: 36.5+ MB

In [8]:
print(covid_data_alt.date.min())
print(covid_data_alt.date.max())
covid_data_alt.dropna(subset=['continent'], inplace=True)

2020-01-01
2022-01-12

In [9]:
# Remove Dates before July 1st, 2021 and after December 31, 2021
covid_data_restricted_dates = covid_data_alt[covid_data_alt.date >= '2021-07-01']
covid_data_restricted_dates = covid_data_restricted_dates[covid_data_restricted_dates.date <= '2022-01-01']
covid_data_restricted_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40869 entries, 493 to 154093
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   continent                       40869 non-null  object
 1   location                        40869 non-null  object
 2   date                            40869 non-null  object
 3   new_cases                       39601 non-null  float64
 4   new_cases_smoothed              39591 non-null  float64
 5   new_deaths                      36983 non-null  float64
 6   new_deaths_smoothed             36983 non-null  float64
 7   reproduction_rate               34040 non-null  float64
 8   new_tests                       15335 non-null  float64
 9   new_tests_smoothed              20731 non-null  float64
 10  positive_rate                   19904 non-null  float64
 11  tests_per_case                  19879 non-null  float64
 12  people_fully_vaccinated         18108 non-null  float64
 13  new_vaccinations                15131 non-null  float64
 14  new_vaccinations_smoothed       38660 non-null  float64
 15  new_people_vaccinated_smoothed  38477 non-null  float64
 16  stringency_index                32927 non-null  float64
 17  population                      40720 non-null  float64
 18  population_density              37924 non-null  float64
 19  median_age                      35025 non-null  float64
 20  aged_65_older                   34655 non-null  float64
 21  aged_70_older                   34840 non-null  float64
 22  gdp_per_capita                  35519 non-null  float64
 23  extreme_poverty                 23054 non-null  float64
 24  cardiovasc_death_rate           34840 non-null  float64
 25  diabetes_prevalence             36814 non-null  float64
 26  female_smokers                  26835 non-null  float64
 27  male_smokers                    26465 non-null  float64
 28  handwashing_facilities          17450 non-null  float64
 29  hospital_beds_per_thousand      31335 non-null  float64
 30  life_expectancy                 40096 non-null  float64
 31  human_development_index         34788 non-null  float64
dtypes: float64(29), object(3)
memory usage: 10.3+ MB

In [10]:
# Count Non-Null values grouped by continent

covid_data_restricted_dates.groupby('continent').count()

,location,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,reproduction_rate,new_tests,new_tests_smoothed,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
continent,,,,,,,,,,,,,,,,,,,,,
Africa,10175,10175,10174,10174,9990,9990,9990,2343,3451,3450,...,9805,7585,9990,9990,6660,6660,8140,7400,10175,9805
Asia,9089,9089,8880,8880,8695,8695,8510,4528,5858,5560,...,8570,5180,8570,8385,7030,7030,4685,8015,8940,8570
Europe,9435,9435,9065,9065,8878,8878,8325,5342,7322,6978,...,7770,5550,7585,8140,7400,7400,555,7955,8880,7770
North America,6475,6475,6290,6290,5792,5792,4255,1416,2046,2046,...,4810,2035,4440,5365,2405,2220,2405,4255,6475,4255
Oceania,3290,3290,2788,2778,1409,1409,740,234,395,395,...,2344,1039,2035,2714,1675,1675,555,1490,3221,2168
South America,2405,2405,2404,2404,2219,2219,2220,1472,1659,1475,...,2220,1665,2220,2220,1665,1480,1110,2220,2405,2220

In [11]:
# Count Non-null values grouped by location
covid_data_restricted_dates.groupby('location').count().sort_values(by=['continent'])

,continent,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,reproduction_rate,new_tests,new_tests_smoothed,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,,,,,,,,,
Niue,33,33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,33,0
Turkmenistan,60,60,0,0,0,0,0,0,0,0,...,60,0,60,60,0,0,60,60,60,60
Nauru,62,62,0,0,0,0,0,0,0,0,...,62,0,0,62,62,62,0,62,62,0
Pitcairn,69,69,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tokelau,104,104,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,104,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Greenland,185,185,185,185,6,6,0,0,0,0,...,0,0,185,185,0,0,0,0,185,0
Grenada,185,185,185,185,185,185,185,0,0,0,...,185,0,185,185,0,0,0,185,185,185
Guatemala,185,185,185,185,185,185,185,185,185,185,...,185,185,185,185,0,0,185,185,185,185
Lebanon,185,185,185,185,185,185,185,0,0,0,...,185,0,185,185,185,185,0,185,185,185
Zimbabwe,185,185,185,185,185,185,185,185,185,185,...,185,185,185,185,185,185,185,185,185,185

In [12]:
covid_data_restricted_dates_no_oceania = covid_data_restricted_dates[~covid_data_restricted_dates.continent.isin(['Oceania'])]

covid_data_restricted_dates_no_oceania.groupby('location').count().sort_values(by=['continent'])

,continent,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,reproduction_rate,new_tests,new_tests_smoothed,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,,,,,,,,,
Turkmenistan,60,60,0,0,0,0,0,0,0,0,...,60,0,60,60,0,0,60,60,60,60
Northern Cyprus,149,149,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mozambique,185,185,185,185,185,185,185,113,181,181,...,185,185,185,185,185,185,185,185,185,185
Myanmar,185,185,185,185,185,185,185,100,119,119,...,185,185,185,185,185,185,185,185,185,185
Namibia,185,185,185,185,185,185,185,156,185,185,...,185,185,185,185,185,185,185,0,185,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Germany,185,185,185,185,185,185,185,0,185,26,...,185,0,185,185,185,185,0,185,185,185
Ghana,185,185,185,185,185,185,185,71,126,126,...,185,185,185,185,185,185,185,185,185,185
Gibraltar,185,185,185,185,185,185,0,0,0,0,...,0,0,0,0,0,0,0,0,185,0
Ethiopia,185,185,185,185,185,185,185,101,142,142,...,185,185,185,185,185,185,185,185,185,185
Zimbabwe,185,185,185,185,185,185,185,185,185,185,...,185,185,185,185,185,185,185,185,185,185

In [13]:
covid_data_restricted_dates_no_oceania_and_several_countries = covid_data_restricted_dates_no_oceania[~covid_data_restricted_dates_no_oceania.location.isin(['Turkmenistan', 'Northern Cyprus', 'Sint Maarten (Dutch part)', 'Jersey', 'Guernsey', 'Laos', 'Macao', 'Timor', 'Vatican', 'Saint Kitts and Nevis', 'Saint Vincent and the Grenadines', 'Saint Pierre and Miquelon', 'St. Helena', 'Cook Island', 'Greenland', 'Gibraltar', 'Anguilla'])]

covid_data_restricted_dates_no_oceania_and_several_countries.groupby('location').count().sort_values(by=['continent'])

covid_data_restricted_dates_no_oceania_and_several_countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34965 entries, 493 to 154093
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   continent                       34965 non-null  object
 1   location                        34965 non-null  object
 2   date                            34965 non-null  object
 3   new_cases                       34963 non-null  float64
 4   new_cases_smoothed              34963 non-null  float64
 5   new_deaths                      34540 non-null  float64
 6   new_deaths_smoothed             34540 non-null  float64
 7   reproduction_rate               32560 non-null  float64
 8   new_tests                       15026 non-null  float64
 9   new_tests_smoothed              19864 non-null  float64
 10  positive_rate                   19037 non-null  float64
 11  tests_per_case                  19012 non-null  float64
 12  people_fully_vaccinated         17054 non-null  float64
 13  new_vaccinations                14566 non-null  float64
 14  new_vaccinations_smoothed       33708 non-null  float64
 15  new_people_vaccinated_smoothed  33486 non-null  float64
 16  stringency_index                30692 non-null  float64
 17  population                      34965 non-null  float64
 18  population_density              33670 non-null  float64
 19  median_age                      32005 non-null  float64
 20  aged_65_older                   31635 non-null  float64
 21  aged_70_older                   31820 non-null  float64
 22  gdp_per_capita                  32005 non-null  float64
 23  extreme_poverty                 21645 non-null  float64
 24  cardiovasc_death_rate           32005 non-null  float64
 25  diabetes_prevalence             33115 non-null  float64
 26  female_smokers                  24790 non-null  float64
 27  male_smokers                    24420 non-null  float64
 28  handwashing_facilities          16465 non-null  float64
 29  hospital_beds_per_thousand      29045 non-null  float64
 30  life_expectancy                 34780 non-null  float64
 31  human_development_index         31820 non-null  float64
dtypes: float64(29), object(3)
memory usage: 8.8+ MB

## Data Quality - Alexandre

In [14]:
# Checking for missing values
covid_data_restricted_dates_no_oceania_and_several_countries.info()

# DISCUSS WITH TEAM: recommend dropping the following because too many missing values (THIS WAS DONE IN CODE IN JUST ABOVE):
 # new_tests                       15026 non-null  float64
 # new_tests_smoothed              19864 non-null  float64
 # positive_rate                   19037 non-null  float64
 # tests_per_case                  19012 non-null  float64
 # people_fully_vaccinated         17054 non-null  float64
 # new_vaccinations                14566 non-null  float64
 # extreme_poverty                 21645 non-null  float64
 # cardiovasc_death_rate           32005 non-null  float64
 # diabetes_prevalence             33115 non-null  float64
 # female_smokers                  24790 non-null  float64
 # male_smokers                    24420 non-null  float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34965 entries, 493 to 154093
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   continent                       34965 non-null  object
 1   location                        34965 non-null  object
 2   date                            34965 non-null  object
 3   new_cases                       34963 non-null  float64
 4   new_cases_smoothed              34963 non-null  float64
 5   new_deaths                      34540 non-null  float64
 6   new_deaths_smoothed             34540 non-null  float64
 7   reproduction_rate               32560 non-null  float64
 8   new_tests                       15026 non-null  float64
 9   new_tests_smoothed              19864 non-null  float64
 10  positive_rate                   19037 non-null  float64
 11  tests_per_case                  19012 non-null  float64
 12  people_fully_vaccinated         17054 non-null  float64
 13  new_vaccinations                14566 non-null  float64
 14  new_vaccinations_smoothed       33708 non-null  float64
 15  new_people_vaccinated_smoothed  33486 non-null  float64
 16  stringency_index                30692 non-null  float64
 17  population                      34965 non-null  float64
 18  population_density              33670 non-null  float64
 19  median_age                      32005 non-null  float64
 20  aged_65_older                   31635 non-null  float64
 21  aged_70_older                   31820 non-null  float64
 22  gdp_per_capita                  32005 non-null  float64
 23  extreme_poverty                 21645 non-null  float64
 24  cardiovasc_death_rate           32005 non-null  float64
 25  diabetes_prevalence             33115 non-null  float64
 26  female_smokers                  24790 non-null  float64
 27  male_smokers                    24420 non-null  float64
 28  handwashing_facilities          16465 non-null  float64
 29  hospital_beds_per_thousand      29045 non-null  float64
 30  life_expectancy                 34780 non-null  float64
 31  human_development_index         31820 non-null  float64
dtypes: float64(29), object(3)
memory usage: 8.8+ MB

### Explanation of Missing Data handling

Several columns do not have complete data. The models we will use in this class cannot be trained on data set with missing data. Columns with much missing data have already been removed from the data set. For the remaining columns, we have to inpute it.

Since we are dealing with data collected over time, we have to account for the temporal autocorrelation so, instead of using the column mean or median to fill-in the missing data, we chose to interpolate it.

In [15]:
covid_data_restricted_dates_no_oceania_and_several_countries_interpolated = covid_data_restricted_dates_no_oceania_and_several_countries.interpolate()
covid_data_restricted_dates_no_oceania_and_several_countries_interpolated.info()

# Could try more refined interpolation, see here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html

# DISCUSS WITH TEAM: should we also drop new_cases and new_deaths (so taht we only keep the smoothed values)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34965 entries, 493 to 154093
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   continent                       34965 non-null  object
 1   location                        34965 non-null  object
 2   date                            34965 non-null  object
 3   new_cases                       34965 non-null  float64
 4   new_cases_smoothed              34965 non-null  float64
 5   new_deaths                      34965 non-null  float64
 6   new_deaths_smoothed             34965 non-null  float64
 7   reproduction_rate               34965 non-null  float64
 8   new_tests                       33855 non-null  float64
 9   new_tests_smoothed              34410 non-null  float64
 10  positive_rate                   34410 non-null  float64
 11  tests_per_case                  34410 non-null  float64
 12  people_fully_vaccinated         34961 non-null  float64
 13  new_vaccinations                34780 non-null  float64
 14  new_vaccinations_smoothed       34965 non-null  float64
 15  new_people_vaccinated_smoothed  34965 non-null  float64
 16  stringency_index                34965 non-null  float64
 17  population                      34965 non-null  float64
 18  population_density              34965 non-null  float64
 19  median_age                      34965 non-null  float64
 20  aged_65_older                   34965 non-null  float64
 21  aged_70_older                   34965 non-null  float64
 22  gdp_per_capita                  34965 non-null  float64
 23  extreme_poverty                 34780 non-null  float64
 24  cardiovasc_death_rate           34965 non-null  float64
 25  diabetes_prevalence             34965 non-null  float64
 26  female_smokers                  34780 non-null  float64
 27  male_smokers                    34780 non-null  float64
 28  handwashing_facilities          34965 non-null  float64
 29  hospital_beds_per_thousand      34965 non-null  float64
 30  life_expectancy                 34965 non-null  float64
 31  human_development_index         34965 non-null  float64
dtypes: float64(29), object(3)
memory usage: 8.8+ MB

In [16]:
# Checking for duplicate values

# need to talk here about expected duplicate values (for example country specific data like gdp_per_capita that are the same every day)

In [17]:
# Checking for outliers
covid_data_restricted_dates_no_oceania_and_several_countries_interpolated.describe()

,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,reproduction_rate,new_tests,new_tests_smoothed,positive_rate,tests_per_case,people_fully_vaccinated,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,34965.000000,34965.000000,34965.000000,34965.000000,34965.000000,3.385500e+04,3.441000e+04,34410.000000,34410.000000,3.496100e+04,...,34965.000000,34780.000000,34965.000000,34965.000000,34780.000000,34780.000000,34965.000000,34965.000000,34965.000000,34965.000000
mean,3027.512956,2930.137827,42.251995,42.390077,1.018446,6.787091e+04,6.762982e+04,0.091371,743.073508,1.352129e+07,...,19628.754225,13.567287,253.971661,7.690212,10.876862,31.541755,49.385005,2.978521,73.322460,0.724354
std,13077.164885,11114.169284,167.618744,153.713651,0.375590,1.915352e+05,1.823960e+05,0.088446,3449.297409,7.376658e+07,...,19645.634860,19.181019,113.378616,3.699198,10.170125,12.154517,29.333236,2.396250,7.678165,0.149577
min,-59375.000000,-1131.286000,-679.000000,-24.571000,-0.030000,1.400000e+01,1.180000e+02,0.000000,1.000000,1.440000e+02,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000
25%,6.000000,28.000000,0.000000,0.286000,0.810000,5.636505e+03,5.716000e+03,0.026000,9.200000,2.161030e+05,...,4881.406000,0.700000,169.817661,5.310000,2.000000,22.600000,22.863000,1.300000,67.940000,0.601000
50%,155.000000,202.571000,2.000000,2.857000,0.990000,1.700783e+04,1.964950e+04,0.058861,24.200000,1.127256e+06,...,13367.565000,3.257008,238.885167,7.110000,6.900000,30.400000,48.142332,2.382796,75.000000,0.748000
75%,1290.000000,1351.286000,16.000000,17.429000,1.210000,4.795797e+04,5.358615e+04,0.137400,78.406284,5.327628e+06,...,27936.896000,21.152151,318.991000,10.080000,19.100000,39.900000,77.159000,3.861000,78.880000,0.838000
max,590547.000000,394012.000000,3998.000000,2114.286000,4.520000,2.398862e+06,2.097582e+06,0.970400,33333.300000,1.207413e+09,...,116935.600000,77.600000,724.417000,22.020000,44.000000,76.100000,98.999000,13.800000,86.750000,0.957000

### Explanation of Outliers:

Most values appear to be in a reasonable range. 

One expeption is the negative values in columns where we would expect only positive values, for example in the new_cases_smoothed (minimum value of -1131.286000) or new_deaths_smoothed (minimum value of -24.571000) columns. 

These negative values are actually expected based on the way the data was collected. From https://github.com/owid/covid-19-data/tree/master/public/data, under the first bullet for "The data you find here and our data sources": "This also means that negative values in cases and deaths can sometimes appear when a country corrects historical data, because it had previously overestimated the number of cases/deaths."

## Simple Statistics - Sadik

## Visualize Attributes - Sadik

## Explore Joint Attributes - Dawn
QUESTION: Clarify relations question

## Explore Attributes and Class  - Zach 

QUESTION: Classification, continuous variable into level, object.. question mini lab

## New Features - Alex

It would be interesting to have more granular data regarding vaccination. For exmaple, have data about which specific vaccine was administred. Also, it could be interesting to have data about how many patients had different vaccines administred to them, for example, how many people received 2 doses of Pfizer and a booster of Moderna

Notes from class:
"New features": could add 2 existing features together
NOTE THAT THESE ARE THINGS THAT COULD BE IMPLEMENTED FOR LAB 2 (SO DATA HAS TO BE AVAILABLE)


## Exceptional Work